* {
    font-family: "Exo 2", sans-serif;

}

.caixa_formulario {
    background: white;
    background-position: left;
    opacity: 100%;
    width: 500px;
    height: 400px;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    /* border-radius: 4px;     */
}

.caixa_formulario h1 {
    font-size: 30px;
    color: green;
    flex-direction: center;
    justify-content: center;
}

.duvida h1 {
    color: white;
}

.duvida {
    background-color: #212124;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    flex-direction: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.formulario button {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #692b2e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    cursor: pointer;
}

.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid #a7a19c;
    border-radius: 10px;
}

.formulario span {
    font-size: 20px;
}

.duvidaInput {
    height: 100px;
    width: 90%;
}

.emailInput{
    width: 90%;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 490px;
    margin:0px;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.contato3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin:0px;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.fundoContato {
    /* border-radius: 4px; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 41, 41);
    width: 550px;
    height: 400px;
}

.imgDuvida4{
    margin-top:11px;
    margin-left:30px;
    margin-right: 5px;
}
.imgDuvida3{
    margin-top:11px;
    margin-right:10px;
}
.imgDuvida2{
 
    margin-right:10px;
}
.imgDuvida1{
    margin-right:15px;
}
.telefone {
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    color: #000000;
    margin-top: 20px;


}

.tituloContato {
    /* display: flex; */
    justify-content: start;
    margin: 0;
    margin-left: 30px;
    color: #000000;
    font-weight: 800;
    flex-direction: row;
}

.contatoPai {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}