*{
    font-family: "Exo 2", sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    margin: 0;
}   

.header {
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 5px solid #000000;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}

.header img {
    width: 220px;
}

.header .container {
    justify-content: space-between;
    align-items: center; 
    height: 150px;
}


li b {
    color: #692b2e;
}

ul img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #692b2e;
    transition: 0.3s all;
} 

.pintomeiras {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.banner {
    width: 100%;
    height: 300px;
    /* background-color: rgba(0, 0, 0, 0.33); */
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    color: #ffffff;
    font-size: 40px;
    width: 300px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

p span {
    font-weight: 800;
    color: #f4e2cc;
    -webkit-text-stroke-color: #692b2e;
    -webkit-text-stroke-width: 1px;
}

.social {
    background-color: #692b2e;
    height: 550px;
    
    
}

.card {
    background-color: #692b2e;
    border-radius: 5px;
}

.card img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.social .container {
    justify-content: space-around;
    text-align: end;
  
}

.container h1 {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction:space-around;
    align-items: center;
    padding: 10px;
}

.card h4 {
    color: #fff;
    font-weight: lighter;
}

.card p {
    width: 300px;
    text-align: center;
    font-weight: lighter;
    color: white
}

.nossoSis {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: whitesmoke;
    /* font-weight: lighter; */
}

.nossoSis2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    /* font-weight: lighter; */
}

/* FOOTER */

.footer {
    background-color: #692b2e;
    height: 100px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

  .footer .container {
      justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 12px;
}
      
.navBar {
    width: 280px;
    display: flex;
    list-style: none;
    color: #692b2e;
    justify-content: space-between;
    font-size: 17px;
    padding: 40px 40px 40px 40px;
}

#div_erros_login {
    display: none
  }
  
  .alerta_erro{
    display: flex;
    justify-content: center;

  }
  
  .card_erro {
    display: none;
    background-color: #692b2e;
    color: black;
    width: 230px;
    margin-top: 3%;
    border-radius: 10px;
    border: #000000 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }