* {
    font-family: "Exo 2", sans-serif;

}

.caixa_formulario {
    background: white;
    background-position: left;
    opacity: 100%;
    width: 500px;
    height: 400px;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    /* border-radius: 4px;     */
}

.caixa_formulario h1 {
    font-size: 30px;
    color: green;
    flex-direction: center;
    justify-content: center;
}


.duvidaInput {
    height: 100px;
    width: 90%;
}

.emailInput{
    width: 90%;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin:0px;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.contato3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin:0px;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.fundoContato {
    /* border-radius: 4px; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 41, 41);
    width: 550px;
    height: 400px;
}

.telefone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
    text-align: center;
    color: #fff;
    width: 200px;
    height: 200px;
}

.tituloContato {
    display: flex;
    justify-content: start;
    margin: 0;
    color: #fff;
    font-weight: 800;
    flex-direction: row;

}

.contatoPai {
    display: flex;
    height: auto;
    width: 200px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div_style {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111113;
}

.caixa-duvidas {
    display: flex;
    width: 100%;
    height: 600px;
}
    
.duvida {
    background-color: #212124;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 50%;
}

.duvida h1 {
    color: white;
}

aside {
    background-color: #212124;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 350px;
    align-items: center;
    text-align: center;
}

.formulario button {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #692b2e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    cursor: pointer;
}

.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: none;
}

.formulario span {
    font-size: 20px;
}